html {
  scroll-behavior: smooth;
}

.line {
  margin-bottom: 65px;
}
@media screen and (max-width: 500px) {
  .column1 {
    width: 100%;
  }
  .modal-body {
    width: 100%;
    font-size: 2em;
  }

  #head {
    width: 100%;
    /*    font-size: 2em;*/
  }
}

.student-img {
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  background: url("../images/image1.JPG");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.reactive-img {
  min-height: 100vh;
  min-width: 100vw;
  /* max-width: 100vw;
  max-height: 100vh; */
  background: url("../images/whoweare-img.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 992px) {
  .hide {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 2em;
  }
  .modal-body {
    font-size: 2em;
    width: 100%;
  }
}
.track-card {
  margin: 10px 10px 10px 10px;
}
img:focus {
  outline: 2px solid blue;
}
.track-card:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.textleft {
  text-align: left;
}

.faq-title {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

.faq-nav {
  flex-direction: column;
  margin: 0 0 32px;
  border-radius: 2px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
}

.tab-content {
  box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
  width: available;
  width: -webkit-fill-available;
}
.faq-question {
  padding: 15px 16px;
  border-radius: 0;
  background-color: #f6f6f6 !important;
}
h5 {
  margin: 0;
}
.card-body p {
  color: #616161;
  margin: 0;
}
/* 
@media screen and (min-width: 990px) {
  .rotate-nav {
    transform: rotate(90deg) translateY(-270px);
    width: 90vh;
    float: right;
    top: 336px;
  }
} */

@media screen and (min-width: 500px) {
  .maintan-dis {
    margin-left: 40px;
  }

  .tab-pad {
    padding-left: 30px;
  }
}
/* @media screen and (max-height: 750px) and (min-width: 990px) {
  .rotate-nav {
    transform: rotate(90deg) translateY(-250px);
  }
} */

/* @media screen and (min-height: 750px) and (min-width: 990px) {
  .rotate-nav {
    top: 410px;
  }
} */

.faq-card {
  border-bottom: 1px solid #d1d1d1;
}

.front-logo {
  width: 100%;
  z-index: 1;
  /* height: 80vh; */
}

.octahacks-div {
  margin-top: auto;
  margin-bottom: auto;
}

#desc {
  font-family: "Ubuntu", sans-serif;
}

#octahacks {
  font-family: "Ubuntu", cursive;
  font-weight: 700;
  font-size: 3em;
}

@media screen and (max-width: 700px) {
  #octahacks {
    font-size: 1.7em;
  }

  .octahacks-div {
    margin-top: 50px;
  }

  section {
    padding: 30px;
  }

  .padding-set {
    padding-right: 0;
    padding-left: 0;
  }

  #frontpage {
    min-height: calc(100vh + 430px);
  }

  .quote--container {
    max-width: 90vw;
  }

  #header-first {
    font-size: 1.3em;
  }

}

/* .row {
  margin-left: 0;
  margin-right: 0;
} */

p.quote {
  line-height: 1.4em;
}

.quote {
  position: relative;
  letter-spacing: 0.03em;
  margin-bottom: 0.5rem;
}
.quote:before {
  content: "“";
  position: absolute;
  left: -0.7em;
}
.quote:after {
  content: "”";
  margin-right: -1rem;
}

.quote--container {
  margin: 4.5rem auto 0;
  max-width: 60vw;
  border-bottom: 2px dotted #c6d1bf;
  padding-bottom: 0.5rem;
}

.quote--highlight {
  color: #ffc84c;
}

.quote--author {
  font-family: "Open Sans Condensed";
  font-size: 0.8rem;
  text-align: right;
  font-weight: 300;
}
